<div class="container my-5">
  <div class="text-center mb-5">
    <h1>D2Cの使い方</h1>
    <h3> - イヤイヤ期を親子で楽しむ🧒👦 -</h3>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <%# <img src="step1.jpg" class="card-img-top" alt="ユーザー登録"> %>
        <%= image_tag 'create_user.png', class:"card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">1. まずはユーザー登録</h5>
          <p class="card-text">ユーザー登録を行うことで、子育ての工夫を投稿したり、他のユーザーが投稿した情報を見ることができます。</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <%= image_tag 'post_index.png', class:"card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">2. 子育てのコツを投稿する</h5>
          <p class="card-text">イヤイヤ期のお子さんと楽しく過ごすコツや経験を投稿し、他のユーザーと共有しましょう。あなたの子育ての知見が他の人の助けになります！</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <%= image_tag 'news_articles.png', class:"card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">3. 子育てニュースを見る</h5>
          <p class="card-text">子育てに関する最新ニュースやトレンドをチェックし、常に新しい知識を得ることができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
