<div class="container pt-5 pb-5">
  <div class="title pt-3 pb-3">
    <h2>プライバシーポリシー</h2>
  </div>
  このプライバシーポリシーは、Toshiki（以下、「当方」といいます。）が、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて定めるものです。
  <div class="content pt-5 pb-3">
    <h4>お客様から取得する情報</h4>
  </div>
  <p>当社は、お客様から以下の情報を取得します。</p>
  <p>・氏名(ニックネームやペンネームも含む)</p>
  <p>・メールアドレス</p>
  <p>・外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</p>
  <p>・Cookie(クッキー)を用いて生成された識別情報</p>
  <p>・OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</p>
  <p>・当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</p>
  <p>・当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</p>
  <div class="content pt-5 pb-3">
    <h4>お客様の情報を利用する目的</h4>
  </div>
  <p>当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
  <p>・当社サービスに関する登録の受付、お客様の本人確認、認証のため</p>
  <p>・お客様の当社サービスの利用履歴を管理するため</p>
  <p>・利用料金の決済のため</p>
  <p>・当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</p>
  <p>・当社のサービスに関するご案内をするため</p>
  <p>・お客様からのお問い合わせに対応するため</p>
  <p>・当社の規約や法令に違反する行為に対応するため</p>
  <p>・当社サービスの変更、提供中止、終了、契約解除をご連絡するため</p>
  <p>・当社規約の変更等を通知するため</p>
  <p>以上の他、当社サービスの提供、維持、保護及び改善のため</p>
  <div class="content pt-5 pb-3">
    <h4>安全管理のために講じた措置</h4>
  </div>
  <p>当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
  <div class="content pt-5 pb-3">
    <h4>アクセス解析ツール</h4>
  </div>
  <p>当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。</p>
  <p>　https://marketingplatform.google.com/about/analytics/terms/jp/</p>
  <div class="content pt-5 pb-3">
    <h4>プライバシーポリシーの変更</h4>
  </div>
  <p>当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
  <div class="content pt-5 pb-3">
    <h4>お問い合わせ</h4>
  </div>
  <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下にご連絡ください。</p>
  <%= link_to "twitter","https://twitter.com/pCSpY1SEvhYcsd2" %>
  <p>2023年03月11日 制定</p>
</div>