<div class="nav justify-content-center fs-7" style="background-color: #fefdf4;"> 
  <div class='top-wrapper'>
    <div class='top-inner-text'>
      <!-- top.scssが当たっていないので修正する-->
      <h1>D2C</h1>
      <%= image_tag 'top_background.png', class: 'img-fruid', width: '100%', height: '50%'%>

      <%= link_to "始めてみる", new_user_path, class:"btn btn-primary" %>
      <%= link_to "ゲストログイン", guest_login_path, data: { turbo_method: :post }, class:"btn btn-info" %>

    </div>
  </div>
</div>