    <nav class="nav justify-content-center fs-7" style="background-color: #c8e7ed;"> 
        <%= link_to '利用規約', root_path ,class: 'nav-link text-dark' %>
        <%= link_to 'プライバシーポリシー', root_path ,class: 'nav-link text-dark' %>
        <%= link_to 'お問い合わせ', root_path ,class: 'nav-link text-dark' %>
        <p class="copyright text-center text-secondary fs-7">Copyright © 2023. D2C - Dressing-for-2-years-old-child -</p>
    </nav>