<div class="t-1">
  <div class="container">
    <nav class="nav justify-content-center fs-7"> 
      <%= link_to '利用規約', root_path ,class: 'nav-link text-dark' %>
      <%= link_to 'プライバシーポリシー', root_path ,class: 'nav-link text-dark' %>
      <%= link_to 'お問い合わせ', '#' ,class: 'nav-link text-dark' %>
    </nav>
    <p class="copyright text-center text-secondary fs-7">Copyright © 2023. D2C - Dressing-for-2-years-old-child -</p>
  </div>
</div>