    <nav class="nav justify-content-center" style="background-color: #c8e7ed;"> 
    <div class="list-inline text-center">
        <div class="list-inline-item">
            <%= link_to '利用規約', terms_path ,class: 'nav-link text-dark' %>
        </div>
        <div class="list-inline-item">
            <%= link_to 'プライバシーポリシー', privacy_policy_path ,class: 'nav-link text-dark' %>
        </div>
        <div class="list-inline-item">
            <%= link_to 'お問い合わせ', root_path ,class: 'nav-link text-dark' %>
        </div>

        <p class="copyright text-center text-secondary mt-3">Copyright © 2023. D2C - Dressing-for-2-years-old-child -</p>
    </nav>