<p>ここはログインした後のヘッダーです</p>
<%= link_to 'top', root_path %>
<%= link_to (t 'defaults.logout'), logout_path, data: { turbo_method: :delete } %>
<%= link_to t('posts.new.title'), new_post_path %>
<%= link_to t('posts.index.title'), posts_path %>
