
.top-background {
  background-image: image-url("images/toothbrush.png");
}


.top-content {
  text-align: center;
}
.top-content h2 {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
.top-content-second {
  text-align: center;
}