
.top-background {
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}


.top-content {
  text-align: center;
}
.top-content h2 {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
.top-content-second {
  text-align: center;
}
.top-background-second {
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 50%;
}