.top-wrapper {
  background:
    url(top_background.png);
  // background-image: image-url("top_background.png");
  // height: calc(100vh - 134px);
  // position: relative;
  background-position: center;
  width:
   500px,
   auto;
  height:
   500px;
 // padding: 10px 20px;  
  background-size:
   contain,
   cover;
   background-repeat:no-repeat;


  
  
}
